@page
@model dawoodali.co.nz.Pages.AboutModel
@{
}

@{
    ViewBag.Title = "Who am I ";
}
<div id="page-wrapper" >
    <div id="page-inner" >
        <div class="row" >
            <div class="col-md-12 text-center responsive">
                <h1 class="neon-text page-head-line">My Life Philosophy</h1>
                <h2 class="page-subhead-line cursor  typewriter-animation" 
                style="margin-top:55px; padding:15px; font-style:normal; font-weight:bolder; letter-spacing:1px;"> “The universe is simple and calm; its laws are elementary. Simplicity is the key to unlocking its mysteries.”</h2>
            </div>
        </div>

       

        <div class="row">
            <div class="col-md-12">
                <div class="card shadow-sm border-0" style="background-color: #6C7171; border-radius: 10px; ">
                    <div class="card-body" style="font-family: Verdana, Geneva, Tahoma, sans-serif; padding: 30px; color:#E0D1E6; justify-content:normal;">
                        <p></p>
                        <p>
                            Hi, I’m <b>Dawood Ali</b>, a seasoned technology professional with over <label>@(DateTime.Now.Year - 2008)</label> years of experience in information systems design and development.
                        </p>

                        <p>
                            My expertise spans across banking, aviation, payments, e-commerce, media, and broadcasting, where I have successfully led teams and delivered innovative solutions. With a strong foundation in Computer Science from FAST-NU Karachi and an MBA from the University of Otago, New Zealand, I bring a unique blend of technical expertise and business acumen to the table.
                        </p>

                        <p>
                            My career journey has taken me across the UAE and New Zealand, working with global organizations and gaining invaluable experience in leadership, team management, and cutting-edge technology solutions. I specialize in developing small to large-scale applications, driving digital transformation, and bridging the gap between technology and human-centric solutions.
                        </p>

                        <p>
                            Beyond my professional endeavors, I have a passion for music, videography, photography, water sports, and traveling. I enjoy creating video logs and capturing life’s moments, which fuels my creativity and enhances my problem-solving approach in tech projects.
                        </p>

                        <p>
                            This website serves as my professional portfolio, where you can explore my career journey, skills, key projects, case studies, and blog insights. Feel free to download my resume or reach out if you’d like to collaborate or discuss exciting opportunities. Let’s connect and create something amazing together!
                        </p>
                    </div>
                </div>

            </div>
           @*  <div class="col-md-4 text-center d-flex align-items-center justify-content-center">
                <img src="~/assets/img/ProPicHead.jpg" class="img-fluid" alt="Dawood Ali" style="max-height: 80%; width: 100%; object-fit: cover; border-radius: 10px;">
            </div> *@
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="custom-divider"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="main-box mb-dull">
                    <a href="#">
                        <i class="fa fa-rocket fa-5x"></i>
                        <h5>Exceptionally talented, What others say about me</h5>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="main-box mb-dull">
                    <a href="#">
                        <i class="fa fa-certificate fa-5x"></i>
                        <h5>BS in Computer Science & MBA Holder</h5>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="main-box mb-dull">
                    <a href="#">
                        <i class="fa fa-globe fa-5x"></i>
                        <h5>Global Experience: Worked with various nationalities</h5>
                    </a>
                </div>
            </div>
        </div>

       @*  <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">Contact Me <b><a href="/Home/Contact" style="text-decoration:none; color:white;">Here</a></b> for more details.</div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Personal Details</th>
                                <th>Information</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="list-group-item-info">
                                <td>1</td>
                                <td>Nationality</td>
                                <td>New Zealand</td>
                            </tr>
                            <tr class="list-group-item-warning">
                                <td>2</td>
                                <td>Relationship Status</td>
                                <td>Married, father of two daughters</td>
                            </tr>
                            <tr class="list-group-item-info">
                                <td>3</td>
                                <td>Religious Views</td>
                                <td>Moderate</td>
                            </tr>
                            <tr class="list-group-item-danger">
                                <td>4</td>
                                <td>Professional References</td>
                                <td>Available upon request</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div> *@
    </div>
</div>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
    if (window.innerWidth <= 768) {
        document.querySelector(".cursor").classList.add("mobile-h2");
    }
});
</script>

