@page
@model dawoodali.co.nz.Pages.ContactModel
@{
}
@{
    ViewBag.Title = "Contact ";

}
<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-head-line">Contact Me</h1>
                <h1 class="page-subhead-line">
                    Feel free to reach out to me via email or phone for any inquiries or collaboration opportunities. I look forward to connecting with you!
                </h1>
            </div>
        </div>
        <!-- /. ROW  -->
        <div class="row">
            <div class="col-md-12">
                <div style="text-align:center;">
                    <img src="~/img/myAvatar.jpg" alt="Professional Contact Image" class="img img-circle" style="max-width:20%; height:auto;" />
                </div>
                <div style="font-family:Verdana; font-size:medium; text-align:center; margin: 20px 0;">
                    <p>
                        <strong>Email:</strong> <a href="mailto:dawoodali@gmail.com">dawoodali@gmail.com</a><br>
                        <strong>Phone:</strong> <a href="tel:+64224017621">+64 22 401 7621</a>
                    </p>
                    <p>
                        I am always open to discussing innovative ideas, exciting projects, or potential collaborations. Let's work together!
                    </p>
                </div>
                
            </div>
        </div>
    </div>
    <!-- /. PAGE INNER  -->
</div>
<!-- /. PAGE WRAPPER  -->
