@page
@model dawoodali.co.nz.Pages.EducationModel
@{
}

@{
    ViewBag.Title = "Academic Qualifications";

}

<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-head-line">Academic Qualifications</h1>
                <h1 class="page-subhead-line">
                    “ Education is the passport to the future, for tomorrow belongs to those who prepare for it today.”
                </h1>
            </div>
        </div>
        <!-- /. ROW  -->
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover" style="font-family:Verdana; font-size:medium;">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Institute</th>
                            <th>Dates</th>
                            <th>Qualification</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="vertical-align:middle;">1</td>
                            <td style="vertical-align:middle;">
                                <img src="~/assets/img/OtagoLogo.png" class="img-thumbnail" height="90px" width="130px" />
                                University of Otago
                            </td>
                            <td style="vertical-align:middle;">2022-24</td>
                            <td style="vertical-align:middle;">MBA - Master of Business Administration <a href="https://www.otago.ac.nz/mba" target="_blank">More Info</a></td>
                         
                           
                        </tr>
                        <tr>
                            <td style="vertical-align:middle;">2</td>
                            <td style="vertical-align:middle;">
                                <img src="~/assets/img/fastlogo.png" class="img-thumbnail" height="90px" width="130px" />
                                National University Of Computer & Emerging Sciences (FAST)
                            </td>
                            <td style="vertical-align:middle;">2004-08</td>
                            <td style="vertical-align:middle;">BS - Computer Science <a href="http://nu.edu.pk" target="_blank">More  Info</td>
                            
                        </tr>


                        <tr>
                            <td style="vertical-align:middle;">3</td>
                            <td style="vertical-align:middle;">
                                <img src="~/assets/img/SPC-logo.gif" class="img-thumbnail" height="90px" width="130px" />
                                Saint Patrick's Govt College
                            </td>
                            <td style="vertical-align:middle;">2002-04</td>
                            <td style="vertical-align:middle;">Inter mediate education Science Pre-engineering <a href="http://www.stpatrickscollege.edu.pk/" target="_blank">More Info</a> </td>
                            
                        </tr>

                        <tr>
                            <td style="vertical-align:middle;">4</td>
                            <td style="vertical-align:middle;">
                                <img src="~/assets/img/hpsLogo.jpg" class="img-thumbnail" height="90px" width="130px" />
                                Habib Public School
                            </td>
                            <td style="vertical-align:middle;">1992-2002</td>
                            <td style="vertical-align:middle;">Primary & Secondary Schooling with major science subjects. <a href="http://habibschools.edu.pk" target="_blank">More Info</a>   </td>
                            
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <!-- /. PAGE INNER  -->
</div>
<!-- /. PAGE WRAPPER  -->