@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@{
	ViewBag.Title = "Welcome to my website.";
}

<div id="page-wrapper">
	<div id="page-inner-home">		
		<!-- /. ROW  -->
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-5 center-block" style="text-align:center; vertical-align:middle; margin-bottom:25px; margin-top:5px; ">
					<img src="~/assets/img/myAvatar.jpg" style=" margin-right:2px; width: 100%; height: auto;"  alt="Picture of Dawood Ali." />

				</div>
				<div class="col-md-7">
					<div style="background-color:white; ">

						<h1>Hello, </h1>
						<div style="display:inline-block;">
							<div class="typed-out">Welcome to my website.</div>
						</div>

					</div>
				</div>
				
			</div>
		</div>

	

	</div>
	<!-- /. PAGE INNER  -->
</div>
<!-- /. PAGE WRAPPER  -->