@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@{
	ViewBag.Title = "Welcome to my website.";
}


<div id="page-wrapper">
	<video autoplay muted id="page-inner-home" class="video-home">
		<source src="~/assets/files/bghome5.mp4" type="video/mp4">
		Your browser does not support HTML5 video.

	</video>
</div>