@page
@model dawoodali.co.nz.Pages.PersonalInfoModel
@{
}

@{
    ViewBag.Title = "Who am I ";
}
<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="page-head-line">Dawood Ali</h1>
                <h2 class="page-subhead-line">“Walking on water and developing software from a specification are easy if both are frozen.”</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="alert alert-info">
                    <p>
                        <b>Hi,</b> I'm Dawood Ali, a self-motivated, technology-driven IT expert with over <label>@(DateTime.Now.Year - 2008)</label> years of experience in information system design and development. I have a passion for learning and strong communication skills that enable me to bridge technology with human-centric solutions.
                    </p>
                    <p>
                        This website serves as my professional portfolio, showcasing my career journey, academic background, skills, and achievements. Here, you can explore my expertise, download my resume, and reach out to me for collaboration and new opportunities.
                    </p>
                    <p>
                        Feel free to explore, and don’t hesitate to contact me if you think we can create something amazing together.
                    </p>
                    <p><b>Regards,</b></p>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <img src="~/assets/img/dawoodpg.png" class="img-circle" alt="Dawood Ali" style="max-height:220px; width:100%; height:auto;" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="main-box mb-dull">
                    <a href="#">
                        <i class="fa fa-user fa-5x"></i>
                        <h5>What others say about me</h5>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="main-box mb-dull">
                    <a href="#">
                        <i class="fa fa-certificate fa-5x"></i>
                        <h5>BS in Computer Science & MBA Holder</h5>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="main-box mb-dull">
                    <a href="#">
                        <i class="fa fa-globe fa-5x"></i>
                        <h5>Global Experience: Worked with various nationalities</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">Contact Me <b><a href="/Home/Contact" style="text-decoration:none; color:white;">Here</a></b> for more details.</div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Personal Details</th>
                                <th>Information</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="list-group-item-info">
                                <td>1</td>
                                <td>Nationality</td>
                                <td>New Zealand</td>
                            </tr>
                            <tr class="list-group-item-warning">
                                <td>2</td>
                                <td>Relationship Status</td>
                                <td>Married, father of two daughters</td>
                            </tr>
                            <tr class="list-group-item-info">
                                <td>3</td>
                                <td>Religious Views</td>
                                <td>Moderate</td>
                            </tr>
                            <tr class="list-group-item-danger">
                                <td>4</td>
                                <td>Professional References</td>
                                <td>Available upon request</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
