@page
@model dawoodali.co.nz.Pages.SkillsModel
@{
}
@{
    ViewBag.Title = "Skills & Expertise";
}

<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-head-line">Skills & Expertise</h1>
                <h1 class="page-subhead-line">
                    “ The most basic of all human needs is the need to understand and be understood.”
                </h1>
            </div>
        </div>
        <!-- /. ROW  -->
        <div class="row">
            <div class="col-md-12">

                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="well well-lg">
                            <h4><b>Technologies</b></h4>
                            <p>
                                <ul>
                                    <li> ASP.Net, MVC Framework, WCF, WPF, Web API                          </li>
                                    <li> HTML5, CSS3, XML, JavaScript, Jquery, Ajax, Flash, Photoshop       </li>
                                    <li> XAML, Web services, SOAP, Web 2.0, Rest APIs, Dreamweaver          </li>
                                    <li> JSP, Java Servlets, Java Applets, Angular</li>
                                    <li>Hand on experiences on Azure and AWS Cloud</li>
                                </ul>
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="well well-sm">
                            <h4><b>Databases / Reporting Tools</b></h4>
                            <p>
                                <ul>
                                    <li> MS SQL Server (strong command on TSQL) and MS Access      </li>
                                    <li> Oracle and MYSQL Entity Framework                         </li>
                                    <li> Crystal Reports                                           </li>
                                    <li> SSRS                                                      </li>
                                    <li> Oracle Reports                                            </li>
                                </ul>

                            </p>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="well">
                            <h4><b>Languages / IDEs</b></h4>
                            <p>
                                <ul>
                                    <li> Visual Studio, C#, VB.NET, C++, VB6              </li>
                                    <li> Java Enterprise Edition and Mobile Edition       </li>
                                    <li> Eclipse, Net Beans & Android                     </li>
                                    <li> X-Code (IOS)                                     </li>

                                </ul>
                            </p>
                        </div>
                    </div>


                </div>

                <div class="row">
                    <div class="panel-body">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapsed"><b>MAJOR EXPERTISE</b></a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <ul>
                                            <li>Solution Architecture Designing and leading the development in right direction                  </li>
                                            <li>Continuous Integration / Release management in Agile application development environment        </li>
                                            <li>Requirement Analysis and solution Designing for simple to complex business problems             </li>
                                            <li>Test automation for software quality assurance purposes                                         </li>
                                            <li>Resources management                                                                            </li>
                                            <li>Web based Applications/Websites Development                                                     </li>
                                            <li>Data Mining, Machine Learning and Classification                                                </li>
                                            <li>Online Payment Gateway Development and Integration, Fraud Prevention approaches                 </li>
                                            <li>Software Requirements Gathering, Analysis, Design, Development, Testing, Support and Training   </li>
                                            <li>Database Design, Implementation and Administration                                              </li>
                                            <li>Desktop, Mobile, Windows CE and PDA based Software Development                                  </li>
                                            <li>Real-time Data Streaming over internet                                                          </li>
                                            <li>High performance graphic applications                                                           </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed"><b>SOFT SKILLS</b></a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">
                                        <ul>
                                            <li>Excellent Communication Skills, Client/User Interaction                      </li>
                                            <li>Leadership skills, Team player, Professional attitude to work                </li>
                                            <li>Ability to work under Pressure and tough deadlines, Problem solving skills   </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed"><b>Domain Knowledge</b></a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">
                                        <ul>
                                            <li>Student Management                                           </li>
                                            <li>Airline / Aviation Industry                                  </li>
                                            <li>Online hotel reservation systems (GDS)                       </li>
                                            <li>Media and Broadcasting                                       </li>
                                            <li>Online Payment Services (Payment Gateway) and E-banking      </li>
                                            <li>Cloud Computing                                              </li>
                                            <li>Ecommerce and Online Trading                                 </li>
                                            <li>Project Planning and Project Management                      </li>
                                            <li>Fitness Industry                                             </li>
                                            <li>Finance and Investment                                       </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /. PAGE INNER  -->
</div>
<!-- /. PAGE WRAPPER  -->
