@page
@model dawoodali.co.nz.Pages.VideosModel
@{
}

@{
    ViewBag.Title = "Videos Page";
}

<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-head-line">videos from my youtube channel,</h1>
            </div>
        </div>
        <!-- /. ROW  -->
        <div class="row">
            <div class="col-md-12 center-block">
                <iframe width="450" height="315" src="https://www.youtube-nocookie.com/embed/1zpN2idgbtQ?si=yt3v2ziYgrI8TJWN" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <iframe width="450" height="315" src="https://www.youtube.com/embed/VfuXq5eRmb8?si=KrZGmwcL3V2egOcR" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <iframe width="450" height="315" src="https://www.youtube-nocookie.com/embed/iBklOw0JFYM?si=fzSp65nV7CZm39YB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <iframe width="450" height="315" src="https://www.youtube-nocookie.com/embed/CLc59wpviqM?si=kBxYYMUcn-3IH4K-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <iframe width="450" height="315" src="https://www.youtube-nocookie.com/embed/Wv1nxi-rq6k?si=tIXYOkC1iyI2yZfh" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
           </<div>
        </div>
       
      @*   <div class="row">
            <div class="col-md-12 center-block">
                <iframe width="100%" height="500" src="https://www.youtube.com/embed/videoseries?list=PLNiDA2BQbRmDQ2FOr1KBZMbolOR84Kwci" title="Dawood Ali..." frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div> *@
    </div>
    <!-- /. PAGE INNER  -->
</div>
<!-- /. PAGE WRAPPER  -->
