@page
@model dawoodali.co.nz.Pages.VideosModel
@{
}

@{
    ViewBag.Title = "Videos Page";
}

<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-head-line">videos from my youtube channel,</h1>
            </div>
        </div>
        <!-- /. ROW  -->
        <div class="row">
            <div class="col-md-12 center-block">
                <iframe width="100%" height="500" src="https://www.youtube.com/embed/videoseries?list=PLNiDA2BQbRmDQ2FOr1KBZMbolOR84Kwci" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <!-- /. PAGE INNER  -->
</div>
<!-- /. PAGE WRAPPER  -->
