@page
@model dawoodali.co.nz.Pages.WorkHistoryModel
@{
}


@{
    ViewBag.Title = "Career History";
}

<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-head-line">Career History</h1>
                <h1 class="page-subhead-line">“Unending journey is indeed a journey worthwhile ”  </h1>
            </div>
        </div>
        <!-- /. ROW  -->
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Employer</th>
                            <th>Dates</th>
                            <th>Designation</th>
                            <th>Detail</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>
                                <img src="~/assets/img/westpacLogo.png" class="img-thumbnail" height="30px" width="50px" />
                                Westpac New Zealand (Christchurch / Auckland) NZ
                            </td>
                            <td>January 2023 -- Till Date</td>
                            <td>Inegration Engineer (HR Services)</td>
                            <td>
                                ---
                            </td>
                        </tr>


                        <tr>
                            <td>2</td>
                            <td>
                                <img src="~/assets/img/provokeLogo.png" class="img-thumbnail" height="30px" width="50px" />
                                Provoke Solutions (Christchurch NZ)
                            </td>
                            <td>January 2022 -- January 2023</td>
                            <td>Senior Software Engineer</td>
                            <td>
                                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modelProvoke">
                                    Read more
                                </button>
                            </td>
                        </tr>

                        <tr>
                            <td>3</td>
                            <td>
                                <img src="~/assets/img/estarLogo.PNG" class="img-thumbnail" height="30px" width="50px" />
                                eStar Online Ltd (Christchurch NZ)
                            </td>
                            <td>December 2020 -- January 2022</td>
                            <td>Senior Software Developer</td>
                            <td>
                                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modelestar">
                                    Read more
                                </button>
                            </td>
                        </tr>

                        <tr>
                            <td>4</td>
                            <td>
                                <img src="~/assets/img/edgeLogo.jpg" class="img-thumbnail" height="30px" width="50px" />
                                Edge Learning (MUSAC Ltd) Palmerston North NZ
                            </td>
                            <td>January 2018 -- November 2020</td>
                            <td>Lead Software Developer</td>
                            <td>
                                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modeledge">
                                    Read more
                                </button>
                            </td>
                        </tr>

                        <tr>
                            <td>5</td>
                            <td>
                                <img src="~/assets/img/fzlogo.jpg" class="img-thumbnail" height="30px" width="50px" />
                                fly Dubai (Dubai aviation corporation) Dubai UAE
                            </td>
                            <td>May 2016 -- December 2017</td>
                            <td>Software Developer / Architect</td>
                            <td>
                                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modelfz">
                                    Read more
                                </button>
                            </td>
                        </tr>


                        <tr>
                            <td>6</td>
                            <td>
                                <img src="~/assets/img/ciblogo.png" class="img-thumbnail" height="30px" width="50px" />
                                CIB Finance Dubai UAE
                            </td>
                            <td>July 2013 -- May 2016</td>
                            <td>Technical Lead / Software Developer</td>
                            <td>
                                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modelcib">
                                    Read more
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>
                                <img src="~/assets/img/cmnetworklogo.png" class="img-thumbnail" height="30px" width="50px" />
                                Point Pay (CM Network) Danish based firm in UAE
                            </td>
                            <td>March 2012 -- May 2013</td>
                            <td>Senior Software Developer</td>
                            <td>
                                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modelcmnetwork">
                                    Read more
                                </button>
                            </td>
                        </tr>

                        <tr>
                            <td>8</td>
                            <td>
                                <img src="~/assets/img/infinitytvlogo.png" class="img-thumbnail" height="30px" width="50px" />
                                Infinity TV FZ LLC Dubai UAE
                            </td>
                            <td>January 2009 -- March 2012</td>
                            <td>Computer / Web programmer</td>
                            <td>
                                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modelinfinity">
                                    Read more
                                </button>
                            </td>
                        </tr>

                        <tr>
                            <td>9</td>
                            <td>
                                <img src="~/assets/img/experteklogo.png" class="img-thumbnail" height="30px" width="50px" />
                                Expertek Cyber Solutions USA based in KHI Pakistan
                            </td>
                            <td>January 2008 -- December 2008</td>
                            <td> Web Developer</td>
                            <td>
                                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modelexpertek">
                                    Read more
                                </button>
                            </td>
                        </tr>



                        <tr>
                            <td>10</td>
                            <td>
                                <img src="~/assets/img/fastlogo.png" class="img-thumbnail" height="30px" width="50px" />
                                CRUC FAST (Microsoft Innovation Centre)
                            </td>
                            <td>June 2007 -- August 2007</td>
                            <td>Internee</td>
                            <td>
                                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modelcruc">
                                    Read more
                                </button>
                            </td>
                        </tr>


                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <!-- /. PAGE INNER  -->
</div>
<!-- /. PAGE WRAPPER  -->





<div class="modal fade" id="modeledge" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Work at Edge Learning Solutions (MUSAC)</h4>
            </div>
            <div class="modal-body small">
                <p>
                    MUSAC is a key provider of software-as-a-service solutions to the education sector in New Zealand and Internationally.
                    Cutting to the heart of student achievement, MUSAC is re-imagining the future of Student Management Systems for principals, boards, teachers, caregivers and students.
                </p>
                <p>
                    Working as lead software engineer for two main applications.
                </p>
                <p>
                    worked on student management system as developer lead, analsying issues reported by clients and provide quick resolutions. also worked on user requirements and turning them into value addded features in the application.
                </p>
                <p>
                    Apart from above plenty of things I have done various technical areas for e.g. Dev Ops tasks including release management performance tunning e.t.c.
                </p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="modelProvoke" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Provoke Solutions</h4>
            </div>
            <div class="modal-body small">
                <p>
                    Provoke is a 20 year-old business and has been a Microsoft Gold Certified Partner during that time.

                    From strategy, architecture, creative (UX and Design) through implementation and operations (managed services), we partner with clients to innovate, disrupt, and attain their BHAGs through digital solutions expressed as excellent software development.

                    We build the software that helps our clients win through...

                    * Modern Worker Experience
                    - Helping clients migrate Sharepoint to the cloud
                    - M365:  Strategy & Governance, Implement & Operationalize, & Managed Services
                    - Enhanced capabilities to elevate the digital collaboration capabilities of M365

                    * Azure Cloud Engineering
                    - App Modernization
                    - Custom Application Development & DevOps
                    - Cloud Engineering & IaaS/Infrastructure as Code

                    * Data/AI/ML
                    - Data Preparation
                    - AI/ML driven insights discover
                    - Data & Insights Visualization
                    - Automated Insights Realization (TM)

                    We follow 3 principles in performing our work:

                    (1) Take an experimentation, not a big-bet transformation approach.  Afterall, 73% of digital transformation efforts fail (Everest Group)

                    (2) "Clean coding" - not just for technical excellence, but for environmental excellence to help reduce the carbon footprint produced by poorly engineered software

                    (3) Don't just migrate, modernize.  Running old architectures on the cloud is leaving a great deal of technical, financial and environmental benefits on the table.
                </p>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>


</div>

<div class="modal fade" id="modelestar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Work at eStar Online</h4>
            </div>
            <div class="modal-body small">
                <p>
                    eStar is a world class software as a service eCommerce solutions provider, delivered by a world class team. Please see below for more about our story, team, career opportunities and investor information.
                    In 1998, eStar launched as an online retailer, using custom built software to sell more than five million music CDs. Leveraging this custom software eStar evolved into Australasia's first and largest eCommerce Software as a Service (SaaS) solutions provider.

                    eStar's tier one clients include David Jones, Country Road Group, Air New Zealand, Briscoe Group, and successful brands such as Sacha Drake, Bed Bath & Beyond and many more.
                </p>
                <p>
                    Working as senior software engineer.
                </p>
                <p>
                    developing new features based on user requirements, analysing the remedial issues and supplying the fixes, analsing the requirements and scoping the solutions
                </p>
                <p>
                    Apart from above plenty of things I have been doing day in and out in various technical areas.
                </p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>






<div class="modal fade" id="modelfz" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Work at fly Dubai</h4>
            </div>
            <div class="modal-body small">
                <p>
                    flydubai, legally Dubai Aviation Corporation, is a government-owned low-cost airline with its head office and flight operations in Terminal 2 of Dubai International Airport.
                    The airline operates a total of 95 destinations, serving the Middle East, Africa, Asia and Europe from Dubai.
                </p>
                <p>
                    worked as lead software developer on various payment related projects of the company to maximize
                    the revenue and preventing the online fraud using my expertise and experiences
                </p>
                <p>
                    Helping the company’s IT department in setting up their test automation along build / release
                    automation for PSS projects
                </p>
                <p>
                    Working as skilled resource to maintain and upgrade the existing PSS (passenger service system)
                    API’s (Radixx Connect Point). Specifically handling the payment related areas
                </p>
                <p>
                    Supervising and assisting various application developers at offshore vendor’s locations in getting
                    various PSS projects done
                </p>
                <p>
                    Worked as software engineer in a large team to develop airlines loyalty program called (Open
                    Rewards)
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>







<div class="modal fade" id="modelcib" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Work at CIB Finance</h4>
            </div>
            <div class="modal-body small">
                <p>
                    CIB Finance having their one office in Dubai United Arab Emirates is
                    Basically a finance related organization which is having business presence in various countries
                    Including Turkey, Cyprus, France, Malaysia etc.
                </p>
                <p>
                    I have been working in this firm since 1st July 2013 until now as lead
                    Software programmer / Technical Lead meeting the expectations of enterprise with flying
                    Colors simply via utilizing my past experiences and the educational background.
                    During past two years I have worked on variety of projects under the domains of payment
                    Processing systems, hospitality industry, E-Commerce applications etc.
                </p>
                <p>
                    As reference two major accomplishments while working with CIB Finance includes,
                    (CIB-PAY) Payment Gateway development which facilitate thousands of secure online credit
                    Card transactions every day following the up to date PCI security compliance standards.
                    - Online hotel reservation web application called www.startbooking.com which enables people
                    To book their hotel stay anywhere at anytime from anywhere.
                    During this tenure, I worked with higher degree of responsibility as compare to past by
                    Managing small development / designing teams, managing Data Centers and servers making
                    Sure their safe and responsive performance along with relevant technical communications
                    With various business entities that are involved in respective perspective.
                </p>
                <p>
                    In general my job involve effective communications with the team and other business entities
                    In different countries mostly in Cyprus, Turkey, Switzerland & India, design and
                    Implementation of efficient database architecture designing, and state of the art quality
                    Web / software applications and maintenance of those software applications over the servers
                    Where they are hosted.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>





<div class="modal fade" id="modelinfinity" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Work at Infinity TV FZ LLC</h4>
            </div>
            <div class="modal-body small">
                <p>
                    started career as a web programmer for the television channel and developed and mantain entire CMS web for the television channel
                </p>
                <p>
                    later on worked on various applications / tools to support television transmission and on-air graphics.
                    also worked on live streaming of television transmission over the web and mobile app.
                </p>
                <p>
                    was acting as head of Online department at the time when I left the channel to persue my carrer in different organization.
                </p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modelcmnetwork" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Work at Point Pay FZ LLC (Cmnetwork)</h4>
            </div>
            <div class="modal-body small">
                <p>
                    worked as senior .Net developer for the development of a dedicated payment gateway.
                </p>
                <p>
                    developed various fraud prevention tools and worked on various other online apps to support the business.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modelexpertek" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Work at Expertek Cyber Solutions</h4>
            </div>
            <div class="modal-body small">
                <p>
                    Worked as a junior / intermediate developer.
                </p>
                <p>
                    worked on various E-commerce asp.net based web applications.
                </p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modelcruc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Work at CRUC FAST Internship</h4>
            </div>
            <div class="modal-body small">
                <p>
                    Internship offered under Microsoft Innovation center where I worked with PHD fellows on the practical implementation of a proposed thesis.
                    developed an Agent based system for profiling the users and monitoring threats.
                </p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


