
@{
    ViewBag.Title = "Dawood Ali Personal Information";
}

<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-head-line">Some basic details about me,</h1>
               
            </div>
        </div>
        <!-- /. ROW  -->
        <div class="row">
            <div class="col-md-12">
  
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-primary">
                            <!-- Default panel contents -->
                            <div class="panel-heading"># feel free to contact me  at <b><a href="https://www.dawoodali.co.nz/Home/Contact" style="text-decoration:none; color:white;" target="_blank">Here</a></b> for any more info.</div>

                            <!-- Table -->
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        
                                        <th>What is my </th>
                                        <th></th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                   
                                    <tr class="list-group-item-info">
                                        <td>1</td>
                                       
                                        <td>Country of Residence</td>
                                        <td>New Zealand </td>
                                      
                                    </tr>
                                    <tr class="list-group-item-warning">
                                        <td>2</td>
                                  
                                        <td>Relationship Status</td>
                                        <td>Married and have two daughters </td>
                                     
                                    </tr>
                                    <tr class="list-group-item-info">
                                        <td>3</td>
                                        
                                        <td>Religions Views</td>
                                        <td>Very moderate </td>
                                   
                                    </tr>
                                    <tr class="list-group-item-danger">
                                        <td>4</td>
                              
                                        <td>References</td>
                                        <td>So many all over the world. </td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /. PAGE INNER  -->
</div>
<!-- /. PAGE WRAPPER  -->

